<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row d-flex flex-column flex-md-row align-items-center justify-content-center">

                {# a remettre sur col-md-6 car j aurai régler le soucis de connecté ou pas #}
                <div class="col-md-4 footer-contact d-flex justify-content-center">
                    <div class="pic">
                        <img src="{{ asset('/img/logo.png') }}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-md-4 footer-links d-flex justify-content-center">
                    <div>
                        <h4>Navigation</h4>
                            <ul>
                                {% if app.user %}

                                    {% if 'ROLE_ADMIN' in app.user.roles %}
                                        
                                            <li>
                                                <i class="bi bi-chevron-right"></i> <a class=" {{ app.current_route == 'home' ? 'active text-muted' : '' }}" aria-current="page" href="{{ path('home') }}">Accueil</a>
                                            
                                            </li>

                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class=" {{ app.current_route starts with 'admin.' ? 'active text-muted' : '' }}" href="{{ path('admin.index') }}">Espace Perso</a>
                                        </li>

                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class="{{ app.current_route starts with 'project.' ? 'active text-muted' : '' }}" href="{{ path('project.index') }}">Projets</a>
                                        </li>

                                        {# <li><a class="getstarted " href="#">Get Started</a></li> #}

                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class="{{ app.current_route starts with 'app_logout' ? 'active text-muted' : '' }}" href="{{ path('app_logout') }}">Déconnexion</a>
                                        </li>

                                    {# {% else 'ROLE_COLLABORATOR' in app.user.roles %}

                                            <li >
                                                <i class="bi bi-chevron-right"></i> 
                                            <a class=" {{ app.current_route starts with 'project.' ? 'active text-muted' : '' }}" href="{{ path('project.index') }}">Projets</a>
                                        </li>

                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class=" {{ app.current_route starts with 'app_logout' ? 'active text-muted' : '' }}" href="{{ path('app_logout') }}">Déconnexion</a>
                                        </li>    #}

                                    {% endif %}

                                {% else %}
                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class=" {{ app.current_route == 'home' ? 'active text-muted' : '' }}" aria-current="page" href="{{ path('home') }}">Accueil</a>
                                        </li>
                                
                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class=" {{ app.current_route starts with 'app_login' ? 'active text-muted' : '' }}" href="{{ path('app_login') }}">Connexion</a>
                                        </li>  

                                        <li >
                                            <i class="bi bi-chevron-right"></i> 
                                            <a class=" {{ app.current_route starts with 'register' ? 'active text-muted' : '' }}" href="{{ path('register') }}">Inscription</a>
                                        </li>  


                                {% endif %}
                            </ul>


                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>OrganizeLife</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
