<div class="modal fade" id="showModalEventType" aria-hidden="true" aria-labelledby="showModalEventTypeLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="showModalEventTypeLabel">Liste des types </h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			{% if typeEventsList %}

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Type</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
					{% for type in typeEventsList %}
						<tr>
							<th scope="row">{{ type.id }}</th>
							<td>{{ type.name }}</td>
							<td>
								<a href="{{ path('event.type.edit', {id: type.id, project: project.id}) }}" class="btn btn-sm btn-warning " alt="Modifier un type d'évènement ?" title="Modifier un type d'évènement ?">
									<i class="bi bi-pen"></i>
								</a>
								<a href="{{ path('event.type.delete', {id: type.id, project: project.id}) }}" class="btn btn-sm btn-danger " alt="Supprimer un type d'évènement ?" title="Supprimer un type d'évènement ?">
									<i class="bi bi-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}

					</tbody>
				</table>
			{% else %}
			<p class="text-start">
			Aucun type d'évènement enregistré sur ce projet !!
			</p>
			{% endif %}
			</div>
			<div class="modal-footer">
				<a href="{{ path('event.type.new', {id: project.id}) }}" class="btn btn-primary" >Créer</a>
			</div>
		</div>
	</div>
</div>