<div class="boxWhite boxProject">
	<div class="flexCustomOne flex-wrap">
		<h2>{{ project.name }}</h2>
		<a href="{{ path('project.show', {id: project.id , slug: project.slug }) }}" class="btn btn-primary " title="Retour le projet" alt="Retour le projet">
			Retour au Projet
		</a>
		<a href="{{ path('project.edit', {id: project.id , slug: project.slug }) }}" class="btn btn-warning " title="Modifier le projet" alt="Modifier le projet">
			<i class="bi bi-pen"></i>
		</a>
	</div>
	<div class="flexCustomOne">
		<p>Nbr Tâches :
			{{ totalEvents }}</p>
		<a href="{{ path('event.new', {id: project.id }) }}" class="btn btn-success">Nouvelle Tâche</a>
	</div>
	<div class="flexCustomOne">
		<p>Nbr de taches pour le mois en cours :
			{{ currentMonthEvents }}</p>
	</div>
	<div class="flexCustomOne">
		<p>Nbr Collaborateur :
			{{ countCollaborator }}</p>
		<a href="{{ path('collaborator.new', {id: project.id}) }}" class="btn btn-dark ">Ajouter un collaborateur</a>
	</div>
	<ul class="list-group mt-3">
		{% for collaborator in collaborators %}
			{% set colors = colorMap[collaborator.id] %}
			<li class="list-group-item d-flex justify-content-between align-items-center mb-3" style="background-color: {{ colors.background }}; color: {{ colors.text }};">
				<span class="badge bg-secondary">{{ collaborator.email }}</span>
				<span class="">
					<a href="{{ path('collaborator.edit', {project: project.id, id: collaborator.id}) }}" class="btn btn-sm btn-warning me-1 mb-lg-2" alt="Modifier un collaborateur ?" title="Modifier un collaborateur ?">
						<i class="bi bi-pen"></i>
					</a>
				</span>
			</li>
		{% endfor %}
	</ul>
</div>