{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col">
            <h2>{{ project.name }}</h2>
                <div id="calendar-holder"></div>
            </div>
        </section>
    </main>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js" integrity="sha256-xkymBp70qMSHnInLEXDWb34pyON8sBGMA1S84vQILx4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{{ asset('js/CalendarManager.js') }}"></script>
    <script src="{{ asset('js/services/EventService.js') }}"></script>



    <script>

        const projectId = {{ project.id }}
        const eventService = new EventService();
        const calendarManagerInstance = new CalendarManager(eventService, projectId);
        calendarManagerInstance.initialize();
        const today = Date();
        console.log(today)
        
    </script>

    
{% endblock %}
