{% extends 'base.html.twig' %}

{% block title %}
	{% if editMode %}
		Modifiez votre event
	{% else %}
		Nouveau event
	{% endif %}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="eventForm">
		<section class="container">
			<div class="row">
				<div class="col-12 boxWhite ">
					{% if editMode %}
						<h2 class="mt-4 center  fs-1">
							Modifier</h2>
					{% else %}
						<h2 class="mt-4 center  fs-1">
							Créer votre évènement</h2>
					{% endif %}

					{{ form_errors(eventForm) }}
					{{ form_start(eventForm,  { 'attr': {'class': 'formEvent'} }) }}
					<fieldset class="mb-3">
						<div>
							{{ form_rest(eventForm) }}
						</div>
					</fieldset>
					<div class="d-flex justify-content-center">
						{% if editMode %}
							<button type="submit" class="btn btnCustom my-3 ">Modifier</button>
						{% else %}
							<button type="submit" class="btn btnCustom my-3 mx-auto">Enregistrer</button>
						{% endif %}
					</div>
					{{ form_end(eventForm) }}
				</div>
			</div>
		</section>
	</div>
{% endblock %}