{% extends 'base.html.twig' %}

{% block title %}Définir un mot de passe
{% endblock %}

{% block body %}
	<section class="container mt-5">
		<div class="boxWhite p-4">
			<h2 class="titleUnderline">Définir un mot de passe pour votre espace perso</h2>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}

			{{ form_start(form) }}

			<div class="mb-3">
				{{ form_label(form.plainPassword, 'Nouveau mot de passe') }}
				{{ form_widget(form.plainPassword, { 'attr': { 'class': 'form-control' } }) }}
				{{ form_errors(form.plainPassword) }}
			</div>

			<button class="btn btn-primary mt-3" type="submit">Définir mon mot de passe</button>

			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}

