{% extends 'base.html.twig' %}


{% block body %}

    <main>
        <h2>Home</h2>

        <p>OrganizeLife est votre allié pour simplifier la gestion du quotidien de votre famille et de votre vie professionnelle. Notre application offre une solution conviviale et intuitive pour planifier les activités, coordonner les événements, et garantir une organisation sans stress.
        </p>
        <p>OrganizeLife est conçu pour vous aider à transformer le chaos quotidien en une expérience harmonieuse.</p>
    
    </main>

    <section>
        <h3>Fonctionnalités</h3>

        <ul>
            <li>Gestion de Projet Intuitive</li>
            <li>Invitez Facilement vos Collaborateurs</li>
            <li>Planification d'Événements sans Effort</li>
            <li>Visualisez le Planning</li>
            <li>Gérez les Indisponibilités</li>
        </ul>
    
    </section>


    <section>
    
        <h3>Comment ça marche ?</h3>

            <ul>
                <li>Inscription Rapide</li>
                <li>Création de Projet</li>
                <li>Ajout de Collaborateurs</li>
                <li>Planification d'Événements</li>
                <li>Visualisation du Planning</li>
            </ul>
    
    </section>

{{ dump(app) }}
{{ dump(app.user) }}
{{ dump(app.current_route) }}
{{ dump(app.request.attributes.get('_route')) }}
{{ dump(app.request.attributes.get('_controller') ) }}

{# {% if app.request.attributes.get('_route') == 'project.index' %} #}


{% endblock %}
