{% extends 'base.html.twig' %}


{% block body %}

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="300">
            <h2>OrganizeLife, votre allié pour une vie mieux organisée</h2>
            <h3>Transformez le chaos quotidien en une expérience harmonieuse avec notre application intuitive</h3>
            {% if app.user  %}
                <a href="{{ path('project.new') }}" class="btn-get-started ">Commencez dès maintenant</a>
            {% else %}
                <a href="{{ path('project.new') }}" class="btn-get-started ">Commencez dès maintenant</a>
                <a type="button" class="btn-get-started" data-bs-toggle="modal" data-bs-target="#registerModal">Inscription rapide</a>
            {% endif %}
        </div>
    </section>

    <!-- Start the Why this app section -->
    <section id="why-app" class="why-app section">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">

                    <div class="content-why-app">
                        <h3>Pourquoi choisir OrganizeLife pour votre gestion quotidienne ?</h3>
                        <p class="">
                            OrganizeLife offre une expérience de gestion simple et intuitive, conçue pour répondre aux besoins uniques de votre famille et de votre vie professionnelle. Voici quelques raisons pour lesquelles vous devriez choisir OrganizeLife :
                        </p>
                        <ul>
                            <li><i class="bi bi-check"></i> Interface utilisateur conviviale</li>
                            <li><i class="bi bi-check"></i> Planification flexible des activités</li>
                            <li><i class="bi bi-check"></i> Collaboration facile avec vos collègues et votre famille</li>
                            <li><i class="bi bi-check"></i> Visualisation claire du planning</li>
                            <li><i class="bi bi-check"></i> Support client exceptionnel</li>
                        </ul>
                        <!-- A voir si je mets ce buton ou create new project ?? -->
                        <p class="text-center"><a href="#" class="more-btn">En savoir plus</a></p>
                    </div>

                </div>
                
                <div class="col-lg-8 d-flex align-items-stretch">

                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-receipt"></i>
                                    <h4>Planification Flexible</h4>
                                    <p>Organisez vos activités selon vos besoins, qu'il s'agisse de réunions professionnelles ou d'événements familiaux.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-people-fill"></i>
                                    <h4>Collaboration Facile</h4>
                                    <p>Invitez facilement vos collègues ou membres de la famille à partager et collaborer sur des projets et des événements.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-calendar"></i>
                                    <h4>Visualisation Clair</h4>
                                    <p class="pt-4">Consultez votre planning en un coup d'œil pour rester organisé et informé de toutes vos activités.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  the Why this app section -->

    <!--  Cta Section  -->
    <section id="cta" class="cta ">
        <div class="container" data-aos="fade-in">
            <div class="text-center">
            <h3>Rejoignez-nous et organisez votre vie dès aujourd'hui !</h3>
            <p> Découvrez comment OrganizeLife peut transformer votre quotidien. Que vous ayez besoin de mieux gérer votre temps, vos finances ou vos projets, nous avons les solutions qu'il vous faut.</p>
            <a class="cta-btn" href="#contact">Demandez une consultation gratuite</a>
            </div>
        </div>
    </section>
    <!-- End Cta Section -->

    <!-- Start Section How It Works -->
    <section id="services" class="services section">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="services-intro" data-aos="fade-right">
                        <h2>Comment ça marche ?</h2>
                        <p>Découvrez comment notre service vous aide à gérer vos projets de manière efficace et collaborative en quelques étapes simples et rapides.</p>
                        <p class="text-center">
                            <button class="services-btn" data-bs-toggle="modal" data-bs-target="#registerModal">Commencer</button>
                        </p>                      
                    </div>
                </div>
                {% include "_partials/_modalregister.html.twig" %}

                <div class="col-lg-8">
                    <div class="row justify-content-center ">

                        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <div class="step-box" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon">
                                    <i class="bi bi-person-check"></i>
                                </div>
                                <h4>Inscription Rapide</h4>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                            <div class="step-box" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon">
                                    <i class="bi bi-file-earmark"></i>
                                </div>
                                <h4>Création de Projet</h4>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="step-box" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon">
                                    <i class="bi bi-people"></i>
                                </div>
                                <h4>Ajout de Collaborateurs</h4>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="step-box" data-aos="zoom-in" data-aos-delay="400">
                                <div class="icon">
                                    <i class="bi bi-calendar-event"></i>
                                </div>
                                <h4>Planification d'Événements</h4>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="step-box" data-aos="zoom-in" data-aos-delay="500">
                                <div class="icon">
                                    <i class="bi bi-eye"></i>
                                </div>
                                <h4>Visualisation du Planning</h4>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- End Section How It Works -->


{# 
{{ dump(app) }}
{{ dump(app.user) }}
{{ dump(app.current_route) }}
{{ dump(app.request.attributes.get('_route')) }}
{{ dump(app.request.attributes.get('_controller') ) }} #}

{# {% if app.request.attributes.get('_route') == 'project.index' %} #}
 

{% endblock %}
