{% extends 'base.html.twig' %}


{% block body %}

    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="300">
            <h2>OrganizeLife, votre allié pour une vie mieux organisée</h2>
            <h3>Transformez le chaos quotidien en une expérience harmonieuse avec notre application intuitive</h3>
            <a href="#about" class="btn-get-started scrollto">Commencez dès maintenant</a>
        </div>
    </section>

    <!-- Start the Why this app section -->
    <section id="why-app" class="why-app">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">

                    <div class="content-why-app">
                        <h3>Pourquoi choisir OrganizeLife pour votre gestion quotidienne ?</h3>
                        <p>
                            OrganizeLife offre une expérience de gestion simple et intuitive, conçue pour répondre aux besoins uniques de votre famille et de votre vie professionnelle. Voici quelques raisons pour lesquelles vous devriez choisir OrganizeLife :
                        </p>
                        <ul>
                            <li><i class="bi bi-check"></i> Interface utilisateur conviviale</li>
                            <li><i class="bi bi-check"></i> Planification flexible des activités</li>
                            <li><i class="bi bi-check"></i> Collaboration facile avec vos collègues et votre famille</li>
                            <li><i class="bi bi-check"></i> Visualisation claire du planning</li>
                            <li><i class="bi bi-check"></i> Support client exceptionnel</li>
                        </ul>
                        <!-- A voir si je mets ce buton ou create new project ?? -->
                        <p class="text-center"><a href="#" class="more-btn">En savoir plus</a></p>
                    </div>

                </div>
                
                <div class="col-lg-8 d-flex align-items-stretch">

                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-receipt"></i>
                                    <h4>Planification Flexible</h4>
                                    <p>Organisez vos activités selon vos besoins, qu'il s'agisse de réunions professionnelles ou d'événements familiaux.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-people-fill"></i>
                                    <h4>Collaboration Facile</h4>
                                    <p>Invitez facilement vos collègues ou membres de la famille à partager et collaborer sur des projets et des événements.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bi bi-calendar"></i>
                                    <h4>Visualisation Clair</h4>
                                    <p>Consultez votre planning en un coup d'œil pour rester organisé et informé de toutes vos activités.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End  the Why this app section -->

    <section>
        <h3>Fonctionnalités</h3>

        <ul>
            <li>Gestion de Projet Intuitive</li>
            <li>Invitez Facilement vos Collaborateurs</li>
            <li>Planification d'Événements sans Effort</li>
            <li>Visualisez le Planning</li>
            <li>Gérez les Indisponibilités</li>
        </ul>
    
    </section>


    <section>
    
        <h3>Comment ça marche ?</h3>

            <ul>
                <li>Inscription Rapide</li>
                <li>Création de Projet</li>
                <li>Ajout de Collaborateurs</li>
                <li>Planification d'Événements</li>
                <li>Visualisation du Planning</li>
            </ul>
    
    </section>

{{ dump(app) }}
{{ dump(app.user) }}
{{ dump(app.current_route) }}
{{ dump(app.request.attributes.get('_route')) }}
{{ dump(app.request.attributes.get('_controller') ) }}

{# {% if app.request.attributes.get('_route') == 'project.index' %} #}
 <script>
    window.addEventListener('load', () => {
        AOS.init({
            duration: 1000,
            easing: 'ease-in-out',
            once: true,
            mirror: false
        });
    });
</script>

{% endblock %}
