{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}
{% block body %}
    <section class="container mt-3 mt-md-5 login">
            <div class="row">
                <div class="col boxWhite ">
                    <h2 class="titleUnderline">M'inscrire</h2>
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                    <div class="d-md-flex justify-content-md-around ">
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.lastname) }}
                    </div>
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                                label: 'Mot de Passe'
                            }) }}
                    <div>
                        <label class="form-check-label">
                            {{ form_label(registrationForm.agreeTerms) }}
                            <a href="{{ path('legal.conditions.utilisation') }}" target="_blank" rel="noopener noreferrer">
                                Conditions Générales d'Utilisation
                            </a>
                        </label>
                        {{ form_widget(registrationForm.agreeTerms) }}</div>
                    <div>
                        {{ form_row(registrationForm.save) }}
                    </div>
                    {# <button type="submit" class="btn">Register</button> #}
                    {# {{ form_rest(registrationForm) }} #}
                    {{ form_end(registrationForm) }}
                    <p>Déjà inscrit(e) ? <a href="{{ path('app_login') }}">Me connecter </a></p>

                </div>
            </div>
    </section>
{% endblock %}