{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}


{% block body %}
<h1>M'inscrire</h1>


    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    <div class="d-flex ">
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
    </div>

    <div>
        {{ form_row(registrationForm.email) }}
    </div>

    <div>
    {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
    </div>

    <div>
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <div>
        {{ form_row(registrationForm.save) }}
    </div>

    {# <button type="submit" class="btn">Register</button> #}
    {# {{ form_rest(registrationForm) }} #}
    
    {{ form_end(registrationForm) }}

    <p>Déjà inscrit(e) ? <a href="{{ path('app_login') }}">Me connecter </a></p>


{% endblock %}
