{% extends 'base.html.twig' %}

{% block title %}Nouveau Collaborateur {% endblock %}

{% block body %}

<div class="collaboratorForm">
    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-6 boxWhite my-4 ">
                <h2 class="text-start">Projet :
                </h2>
                <p>{{ project.name }}</p>
                <p>{{ project.description }}</p>
                <p>Collaborateur :
                </p>
                <ul>
                    <li>
                        {% if project.collaborator is not empty %}
                            {% for collaborator in project.collaborator %}
                                {{ collaborator.firstname }}
                            {% endfor %}
                        {% else %}
                            Aucun Collaborateur
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-6 boxWhite">
                <h3 class="mt-4 center  fs-1">Nouveau collaborateur</h3>
                {{ form_errors(collaboratorform) }}
                {{ form_start(collaboratorform,  { 'attr': {'class': 'formCollaborator'} }) }}
                {{ form_end(collaboratorform) }}
            </div>

        </div>
    </section>
</div>
{% endblock %}
