{% extends 'base.html.twig' %}

{% block title %}Espace Perso | {{ parent() }}{% endblock %}

{% block body %}


  <section class="heroUser d-flex align-items-center">
    <div class="container position-relative">
      <div class="row">
        {% include "admin/_boxespacepersoadmin.html.twig"  %}
        {# Partie droite : Explication si aucun projet #}
        {% if projects is empty %}
          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <div class="boxWhite p-4 w-100">
              <h3>Aucun projet pour le moment</h3>
              <p>Commencez par créer un nouveau projet pour gérer vos collaborateurs et événements.</p>
              <a href="{{ path('project.new') }}" class="btn btnCustom mt-3">Créer un projet</a>
            </div>
          </div>

        {% else %}
        <!-- Start Section projects -->
        <div class="col-lg-6">
          <section id="projects" class=" projects">
            <div class="row">
                <div class="col-lg-6">
                  <div class="" data-aos="fade-right">
                    <h2 class="titleUnderline">Vos Projets</h2>
                    <p class="text-center">
                      <a href="{{ path('project.new') }}" class="btn btnCustom ">Nouveau</a>
                    </p>
                  </div>
                </div>
            </div>

                <div class="col-lg-6">
                  <div class="row justify-content-center ">

                    {% if projects %}
                      {# {{ dump(projects) }} #}
                      {% for project in projects %}
                        {# {{ dump(project) }} #}

                        <div class="col-md-6 d-flex align-items-stretch mt-4 ">
                          <div class="boxWhite" data-aos="zoom-in" data-aos-delay="100">
                            <div class="">
                              <p>{{ project.name | capitalize }}</p>
                            </div>

                            <div class="d-flex justify-content-around flex-wrap">
                              <a href="{{ path('project.show', {id: project.id , slug: project.slug }) }}" class="btn btn-success m-3 ">Gérer</a>

                              <a href="{{ path('project.edit', {id: project.id , slug: project.slug }) }}" class="btn btn-warning m-3">Modifier</a>

                              <a href="{{ path('project.delete', {id: project.id , slug: project.slug }) }}" class="btn btn-danger m-3 " onclick="Supp(this.href); return(false);">Supprimer</a>

                            </div>

                          </div>
                        </div>

                      {% endfor %}
                    {% endif %}


                  </div>
                </div>
            <div class="row">
            
            </div>
          </section>
        </div>
        <!-- End Section projects -->
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Counts Section -->
  <div class="my-5">
    {% include "_partials/_counts.html.twig"  %}
  </div>
  <!-- End Counts Section -->

{% endblock %}
