{% extends 'base.html.twig' %}

{% block title %}Espace Perso | {{ parent() }}{% endblock %}

{% block body %}

<div class="adminIndex">
  <section class="container ">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center mt-5" data-aos="fade-right">
        {% include "admin/_boxespacepersoadmin.html.twig"  %}
      </div>

      <div class="col-lg-6 d-flex justify-content-center mt-5" data-aos="zoom-in" data-aos-delay="400">
      {% if projects is empty %}
          <div class="boxWhite p-4 w-100">
            <h3>Aucun projet pour le moment</h3>
            <p>Commencez par créer un nouveau projet pour gérer vos collaborateurs et événements.</p>
            <a href="{{ path('project.new') }}" class="btn btnCustom mt-3">Créer un projet</a>
          </div>

      {% else %}
        <!-- Start Section projects -->
          <section id="projects" class="projects w-100">
            <div class="row">
              <div class="col-12 d-flex justify-content-between boxWhite" data-aos="fade-right">
                  <h2 class="titleUnderline">Vos Projets</h2>
                  <p class="text-center">
                    <a href="{{ path('project.new') }}" class="btn btnCustom ">Nouveau</a>
                  </p>
              </div>
            </div>

            <div class="row ">
              <div class="col-12 ">
                {% if projects %}
                  {% for project in projects %}
                    <div class=" d-flex  my-4 ">
                      <div class="boxWhite" data-aos="zoom-in" data-aos-delay="100">
                        <div class="">
                          <p>{{ project.name | capitalize }}</p>
                        </div>
                        <div class="d-flex justify-content-around flex-wrap">
                          <a href="{{ path('project.show', {id: project.id , slug: project.slug }) }}" class="btn btn-success m-3 ">Gérer</a>
                          <a href="{{ path('project.edit', {id: project.id , slug: project.slug }) }}" class="btn btn-warning m-3">Modifier</a>
                          <a href="{{ path('project.delete', {id: project.id , slug: project.slug }) }}" class="btn btn-danger m-3 " onclick="Supp(this.href); return(false);">Supprimer</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>

          </section>
        <!-- End Section projects -->
      {% endif %}
      </div>
    </div>
  </section>
  
</div>
{% endblock %}