{% extends 'base.html.twig' %}

{% block title %}Espace Perso | {{ parent() }}{% endblock %}

{% block body %}


    <div class="container">
    {{ dump(admin) }}
    {{ dump(projects) }}

                <a class="btn btn-danger" href="{{ path('project.new', {id: project.id }) }}">Supprimer</a>


    
        {# <h2>Hello {{ controller_name }}! ✅</h2>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/home/virginie/Documents/workspace/organizeLife/src/Controller/AdminController.php</code></li>
            <li>Your template at <code>/home/virginie/Documents/workspace/organizeLife/templates/admin/index.html.twig</code></li>
        </ul> #}
    </div>
{% endblock %}
