{% extends 'base.html.twig' %}

{% block title %}
	{{project.name}}
{% endblock %}

{% block body %}
<div class="projectShow">
	<div class="container">
		<div class="row project-layout">
			<div class="col-12 col-lg-6">
				<section class="boxWhite boxProjectAdmin">
					<h2>
						<strong>{{ project.name }}</strong>
					</h2>
					<p class="description-truncate">Description :
						{{ project.description|slice(0, 30) ~ '...' }}</p>
					<p class="text-muted">Créer le
						{{project.createdAt | date("d/m/Y") }}</p>
					<div class="d-flex justify-content-end mb-5">
						<a href="{{ path('project.edit', {id: project.id , slug: project.slug }) }}" class="btn btn-warning me-3" title="Modifier le projet" alt="Modifier le projet">
							<i class="bi bi-pen"></i>
						</a>
						<button data-url="{{ path('project.delete', {id: project.id , slug: project.slug }) }}" class="btn btn-danger btnDeleteProject" title="Supprimer le projet" alt="Supprimer le projet">
							<i class="bi bi-trash"></i>
						</button>
					</div>
					<hr class="separator-x">
					<h3 class="my-3">Administrateur :</h3>
					<p>Prénom :
						{{ app.user.firstname }}</p>
					<p>Nom :
						{{ app.user.lastname }}</p>
					<p>Email :
						{{ app.user.email }}</p>
					<div class="d-flex justify-content-end mb-3">
						<a href="{{ path('admin.index') }}" class="btn btn-warning me-3" title="Modifier vos données Personnelles" alt="Modifier vos données Personnelles">
							<i class="bi bi-pen"></i>
						</a>
					</div>
				</section>
			</div>
			<div class="col-12 col-lg-6">
				<section class="boxWhite boxCollaborator">
					<div class="">
						<h4>Collaborateur :</h4>
					{% if totalCollaborators > 0 %}
							<div class="countersStyleCustom">
								<span data-purecounter-start="150" data-purecounter-end="{{ totalCollaborators ?? 0 }}" data-purecounter-duration="1" class="purecounter"></span>
							</div>
					</div>
							<div>
								<a href="{{ path('collaborator.manage', {id: project.id }) }}" class="btn btn-success">Gérer</a>
							</div>
					{% else %}
						<p class="no-collaborators" data-url="{{ path('collaborator.new', {id: project.id}) }}">Aucun collaborateur pour ce projet.</p>
					</div>
					<div>
						<a href="{{ path('collaborator.new', {id: project.id}) }}" class="btn btn-dark">Ajouter</a>
					</div>
					{% endif %}		
				</section>

				<section class="boxWhite boxEventAndType">
					<div class="">
						<h5 class="">Evènement :</h5>
						{% if project.events is not empty %}
							<div class="countersStyleCustom">
								<span data-purecounter-start="150" data-purecounter-end="{{ totalEvents ?? 0 }}" data-purecounter-duration="1" class="purecounter"></span>
							</div>
						{% else %}
							<p>Aucun évènement</p>
						{% endif %}
						<div>
							<a href="{{ path('calendar', {id: project.id }) }}" class="btn btn-warning m-2">Calendrier</a>
							<a href="{{ path('event.new', {id: project.id }) }}" class="btn btn-primary">Nouveau</a>
						</div>
					</div>
					<hr class="separator-y">
					<div class="">
						{% if typeEventsList is not empty %}
						<h5 class="">Type d'évènement :</h5>
						<div class="countersStyleCustom">
							<span data-purecounter-start="150" data-purecounter-end="{{ typeEventsCount ?? 0 }}" data-purecounter-duration="1" class="purecounter"></span>
						</div>
						<div>
							<button class="btn btn-dark m-2" data-bs-target="#showModalEventType" data-bs-toggle="modal">Gérer</button>
						</div>
						{% else %}
						<p>Aucun Type d'évènement</p>
						<div>
							<a href="{{ path('event.type.new', {id: project.id}) }}" class="btn btn-primary" >Créer</a>
						</div>
						{% endif %}
					</div>
				</section>
			{% include "_partials/_modalEventType.html.twig"  %}
			</div>
		</div>
	</div>
</div>
{% endblock %}