{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet {% endblock %}


{% block body %}
<h2>Nouveau Projet</h2>

    <section class="bg-secondary text-white p-3 m-3">
    {# {{ dump(app.user) }} #}
    <h3 class="text-center">Administrateur : </h3>
        <p>{{ app.user.firstname }}</p>
        <p>{{ app.user.lastname }}</p>
        <p>{{ app.user.email }}</p>
    </section>

    {{ form_errors(projectForm) }}
    {{ form_start(projectForm) }}
        {# <div class="d-flex ">
            {{ form_row(projectForm.name) }}
        </div>

        <div>
            {{ form_row(projectForm.description) }}
        </div> #}
        <div>
            {{ form_rest(projectForm) }}
        </div>
    
    {{ form_end(projectForm) }}



{% endblock %}
