{% extends 'base.html.twig' %}
{% block title %}
    {{ titlePage }}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="user">
		<section class="container formUserEdit">
			<div class="row">
				<div class="col-12 boxWhite">
					<h2 class="mb-3">{{ titlePage }}</h2>
					{{ form_errors(formChangePwd) }}
					{{ form_start(formChangePwd) }}
					{{ form_rest(formChangePwd) }}
					<button type="submit" class="btn btnCustom mx-auto ">Modifier</button>
					{{ form_end(formChangePwd) }}
				</div>
			</div>
		</section>
	</div>
{% endblock %}
